Assets/
Components/obj/
Components/bin/
Text/obj/
Text/bin/
SimpleScene/obj/
SimpleScene/bin/
Sounds/obj/
Sounds/bin/
Particles/obj/
Particles/bin/
Lighting/obj/
Lighting/bin/
Shadows/obj/
Shadows/bin/
Sprites/obj/
Sprites/bin/
Input/obj/
Input/bin/
GodRays/obj/
GodRays/bin/
Log_Output.txt
*.opendb
*.VC.db
.vs/Jewel3D_Samples/
.vscode/
